@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #494949;
}
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(48px + 2vmin);
    font-weight: medium;
}

canvas {
    max-width: 90vw;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.navbar a.active {
    color: #EEA141;
    font-weight: 700;
}

.navbar a.active:before{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #EEA141;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Default state of the menu items */
.navbar a {
    transition: color 0.3s ease; /* Smooth transition for color change */
}


/* Styles for navbar links when corresponding sections are dark */
.navbar a.dark {
    color: red;/* Your desired color for dark navbar links */;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    padding: 32px;
}